.container {
  max-width: 1140px;
  margin: 0 auto;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

footer {
  margin-top: 80px;
}
footer h1 {
  font-weight: bold;
  color: #ee9311;
  text-transform: uppercase;
}
footer h6 {
  font-weight: bold;
  color: #fbbf18;
  text-transform: uppercase;
}

header .navbar {
  padding: 30px 0;
}
header a {
  text-decoration: none;
}
header .navbar-brand {
  color: #ee9311;
  text-transform: uppercase;
  font-weight: bold;
}
header .btn-header button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ee9311;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
header .btn-header button:hover {
  background-color: #fbbf18;
  color: black;
}
header .dropdown-menu {
  position: absolute;
  transform: translateX(-15%);
  transition: all 0.3s;
}

.banner {
  text-transform: uppercase;
}
.banner .carousel-inner {
  display: flex;
}
.banner .carousel-inner .carousel-caption {
  display: block;
  justify-content: center;
  align-items: center;
}
.banner .carousel-inner .carousel-caption h1 {
  color: rgb(102, 51, 111);
  margin: 20px 0;
  font-weight: bold;
}
.banner .carousel-inner .carousel-caption h1 span {
  color: #ee9311;
}
.banner .carousel-inner .carousel-caption button {
  margin-top: 70px;
  padding: 10px 25px;
  background-color: #ee9311;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.banner .carousel-inner .carousel-caption button:hover {
  background-color: #fbbf18;
  color: black;
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.category {
  margin: 80px 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.category h3 {
  font-size: 35px;
}
.category p {
  font-size: 15px;
}
.category .category-image a {
  text-align: center;
}
.category .category-image a:hover img {
  transform: scale(1.1);
}
.category .category-image img {
  width: 100%;
  transition: ease 0.3s;
}

.products {
  margin: 80px 0;
}
.products a {
  text-decoration: none;
}
.products .viewProducts {
  text-align: center;
  margin-top: 20px;
}
.products .viewProducts button {
  padding: 10px 25px;
  background-color: #ee9311;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.products .viewProducts button:hover {
  background-color: #fbbf18;
  color: black;
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.products .products-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.products .products-title p {
  font-size: 15px;
}
.products .products-title h3 {
  font-size: 35px;
}
.products .tab-menu ul {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.products .card {
  overflow: hidden;
}
.products .card img {
  transition: all 0.3s;
}
.products .card:hover img {
  width: 100%;
  transform: scale(1.1);
}
.products .card .card-body h5 {
  color: #ee9311;
  text-transform: uppercase;
}
.products .card .card-footer .start i {
  color: #fbbf18;
}
.products .card .card-footer button {
  background-color: #ee9311;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.products .card .card-footer button:hover {
  background-color: #fbbf18;
  color: black;
}

.listProducts {
  margin: 80px 0;
}
.listProducts a {
  text-decoration: none;
}
.listProducts .wrapper-card {
  margin-top: 20px;
}
.listProducts .wrapper-card .card {
  overflow: hidden;
  cursor: pointer;
}
.listProducts .wrapper-card .card img {
  transition: all 0.3s;
}
.listProducts .wrapper-card .card:hover img {
  width: 100%;
  transform: scale(1.1);
}
.listProducts .btn {
  padding: 5px 20px;
  background-color: #ee9311;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.listProducts .btn:hover {
  background-color: #fbbf18;
  color: black;
}

.banner2 {
  margin: 80px 0;
  width: 100%;
}
.banner2 .banner-item {
  position: relative;
}
.banner2 .banner-item .banner2-title {
  text-transform: uppercase;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 10px;
  padding: 20px;
  color: white;
}
.banner2 .banner-item .banner2-title h4 {
  font-weight: bold;
  color: black;
}
.banner2 .banner-item .banner2-title p:first-child {
  color: #fbbf18;
  font-size: 10px;
}
.banner2 .banner-item .banner2-title p {
  font-size: 15px;
}
.banner2 .banner-item .banner2-title button {
  padding: 5px 10px;
  background-color: #ee9311;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.banner2 .banner-item .banner2-title button:hover {
  background-color: #fbbf18;
  color: black;
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.banner2 img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.banner-detail .banner-item {
  height: 60vh;
}
.banner-detail .banner-item img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}/*# sourceMappingURL=style.css.map */