@import "./base/base";
@import "./base/reset";
@import "./components/productItem";
@import "./helper/mixin";
@import "./helper/variable";
@import "./layout/footer";
@import "./layout/header";

.banner {
  text-transform: uppercase;
  .carousel-inner {
    display: flex;

    .carousel-caption {
      display: block;
      justify-content: center;
      align-items: center;

      h1 {
        color: rgb(102, 51, 111);
        margin: 20px 0;
        font-weight: bold;
        span {
          color: $color-bg-btn;
        }
      }

      button {
        margin-top: 70px;
        padding: 10px 25px;
        @include styleBTN($color-bg-btn, white, $color-bg-btn-hover, black);
      }
    }
  }
}
.category {
  margin: $top 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  h3 {
    font-size: $text-h3;
  }
  p {
    font-size: 15px;
  }

  .category-image {
    a {
      text-align: center;

      &:hover img {
        transform: scale(1.1);
      }
    }

    img {
      width: 100%;
      transition: ease 0.3s;
    }
  }
}

.products {
  a {
    text-decoration: none;
  }
  margin: $top 0;

  .viewProducts {
    text-align: center;
    margin-top: 20px;
    button {
      padding: 10px 25px;
      @include styleBTN($color-bg-btn, white, $color-bg-btn-hover, black);
    }
  }
  .products-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
      font-size: 15px;
    }
    h3 {
      font-size: $text-h3;
    }
  }
  .tab-menu {
    ul {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }
  .card {
    @include styleHoverImg(1.1);
    .card-body {
      h5 {
        color: $color-bg-btn;
        text-transform: uppercase;
      }
    }
    .card-footer {
      .start {
        i {
          color: #fbbf18;
        }
      }
      button {
        @include styleBTNCart($color-bg-btn, white, $color-bg-btn-hover, black);
      }
    }
  }
}
.listProducts {
  margin: $top 0;
  a {
    text-decoration: none;
  }

  .wrapper-card {
    margin-top: 20px;
    .card {
      @include styleHoverImg(1.1);
      cursor: pointer;
    }
  }
  .btn {
    padding: 5px 20px;
    @include styleBTNCart($color-bg-btn, white, $color-bg-btn-hover, black);
  }
}
// banner 2
.banner2 {
  margin: $top 0;
  width: 100%;
  .banner-item {
    position: relative;
    .banner2-title {
      text-transform: uppercase;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      margin-left: 10px;
      padding: 20px;
      h4 {
        font-weight: bold;
        color: black;
      }
      p:first-child {
        color: #fbbf18;
        font-size: 10px;
      }
      p {
        font-size: 15px;
      }
      color: white;
      button {
        padding: 5px 10px;
        @include styleBTN($color-bg-btn, white, $color-bg-btn-hover, black);
      }
    }
  }
  img {
    width: 100%;
    object-fit: contain;
  }
}

// css detail
.banner-detail {
  .banner-item {
    height: 60vh;
    img {
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}
