footer {
  margin-top: $top;
  h1 {
    font-weight: bold;
    color: $color-bg-btn;
    text-transform: uppercase;
  }
  h6 {
    font-weight: bold;
    color: #fbbf18;
    text-transform: uppercase;
  }
}
