header {
  position: relative;
  .bar {
    padding: 20px;
    background-color: black;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    color: white;

    // ⭐ Ẩn ban đầu bằng hiệu ứng
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    pointer-events: none;
    h3 {
      color: $color-bg-btn;
      font-size: 20px;
    }
    a {
      color: white;
    }
    .shop {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 250px;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      transition: all 0.3s ease;
      .shop-item {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        transition: all 0.3s ease;
      }
    }
  }
  .logo {
    a {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 40px;
      color: $color-bg-btn;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
  background-color: $color-bg-header;
  padding: 0;
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
      font-weight: bold;
      ul {
        display: flex;

        align-items: center;
        margin: 0;

        li {
          transition: all 0.3s;
          padding: 30px 0;
          &:hover .bar {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            pointer-events: auto;
            z-index: 1000;
          }

          a {
            display: flex;
            align-items: center;
            padding: 0 20px;
            &:hover {
              color: $color-bg-btn;
            }

            span {
              padding-left: 5px;
            }
          }
        }
      }
    }
    .active-header {
      .btn-search {
        margin-left: -55px;
      }
      button {
        margin-left: 5px;
        @include styleBTN($color-bg-btn, white, $color-bg-btn-hover, black);
      }
      input {
        border-radius: 5px;
        border: 1px solid white;
        padding: 5px 20px;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
